Package: quadpbx-og
Version: __VERSION__
Architecture: all
Section: comm
Priority: optional
Maintainer: Rob Thomas <xrobau@gmail.com>
Pre-Depends: quadpbx-og-prep
Homepage: https://quadpbx.com
Source: quadpbx-builder
Description: Bootstrap control file for QuadPBX OG
 This is to help get the ball rolling
